.servicesContainer{
	width: 100%;
    height: 75vh;
    color: #3a377e;
}

.servicesContainer h2{
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: -2rem;
	font-size: 5.3vh;
}

.servicesWrapper{
	height: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding: 0 20%;
}

.serviceElement{
	height: 35vh;
	width: 25vh;
    border-radius: 10px;
    font-weight: 600;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.89);
    -moz-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.89);
    box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.89);
    padding-bottom: 0.7rem;
    font-size: 3vh;
    
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img{
    box-sizing: border-box;
    height: 12vh;
}

.serviceElement h3{
    box-sizing: border-box;
    font-size: 2.5vh;
}

.serviceElement a{
    text-decoration: none;
    background-color: #3a377e;
    color: #fff;
    height: 5vh;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    font-weight: 700;
    cursor: pointer;
}

@media creen and (min-height: 1100){
    .servicesWrapper{
        padding: 0;
    }
}

@media screen and (max-width: 768px){
    .servicesContainer{
        height: 80rem;
        text-align: center;
    }
    .servicesWrapper{
        flex-direction: column;

    }
    .servicesContainer h2{
        justify-content: center;
        align-items: center;
        height: 15%;
    
    }
    .serviceElement{
        margin-bottom: 1rem;
        border-radius: 20px;

        width: 25vh;
    }

}