.heroFooter{
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: #3a377e;
    color: #fff;
    font-size: 2.7vh;
    text-align: center;
}

@media screen and (max-width: 768px){
    .heroFooter{
        font-size: 1.5vh;
    }
}