.heroFooter{
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
    background-color: #3a377e;
    color: #fff;
    font-size: 2.7vh;
    text-align: center;
}

@media screen and (max-width: 768px){
    .heroFooter{
        font-size: 10px;
    }
    .footerWrap{
        width: 90%;
    }
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .heroFooter{

     font-size: 1.5vh;}

}
@media only screen 
  and (min-width: 1900px) 
  and (max-height: 1500px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .heroFooter h2{
     font-size: 3vh;
    }

}