.heroWrapper{
	height: 78.4vh;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: flex-end;
    padding-right: 18%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -0.4vh;
}

.misterius{
    width: 53vh;
    height: 30vh;
    padding-top: 2vh;
}

.heroFormWrapper{
    box-sizing: border-box;
	border-radius: 2vh;
	padding: 1vh 3vh;
	width: 100%;
	height: 25vh;
	display: flex;
	flex-direction: column;
    margin-bottom: -1.5rem;
    background-color: rgba(7, 6, 6, 0.3);  
    margin-top: 3vh;    
}

.heroFormWrapper h2{
    font-size: 4vh;
    font-weight: 700;
    color: #fff;
    padding-left: 1vh;
    margin-bottom: 1vh;
    text-shadow: 2px 2px 6px rgb(8, 8, 8);
}
.heroFormWrapper input{
	height: 6vh;
    border-radius: 0.5vh;
    background-color: #e3e3e3;
    font-style: italic;
    padding-left: 1vh;
    border: none;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    outline: none;

}
.heroFormWrapper button{
	width: 15vh;
	text-align: center;
    height: 5.5vh;
    background-color: #3a3773;
    font-weight: 700;
    color: #fff;
    border-radius: 0.5vh;
    border: none;
    font-size: 2.5vh;
    outline: none;
    cursor: pointer;
}

.arrow{
    display: flex;
    justify-content: center;
    margin: 0 -2rem;
}
.arrow img{
    visibility: hidden;
    width: 3rem;
    margin: -5rem -2rem;
    padding-bottom: 1.3rem;
    padding-right: 0;
    color: blue;


}

.circleWrap{
	display: flex;
	justify-content: flex-end;
    padding: 0 9vh;
    color: #3a3773;
    margin-top: -1vh;
    color: #fff;
}

.circle{
	width: 9vh;
	height: 9vh;
	background-color: #3a3773;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    color: #fff;
    font-size: 2vh;
}


/* estylos para offer*/
.heroOfferWrapper{
    width: 59vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.heroOfferWrapper img{
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-right: 0;
    background-color: #fff;
    color: #3a3773;
}




@media screen and (max-width: 758px){


        .heroWrapper{
            align-items: center;
            width: 100%;
            padding: 0;
            height: 72.4vh;
        }
        .heroFormWrapper input{
         height: 5vh;
        }
        
        .heroFormWrapper h2{
            font-size: 1.57rem;
        }
}
@media screen and (max-width: 430px){
            .heroFormWrapper h2{
            font-size: 22px;
        }
        .misterius{
            width: 72%;
            height: 20vh;
            padding: 0;
        }
        .heroFormWrapper{
            height: 100%;
            margin: 0;
            border-radius: 8px;
        }
        .circleWrap{
            padding: 0 7vh;
            margin-top: -3.5vh;
        }
        .circle{
            width: 7vh;
            height: 7vh;
        }

}

@media screen and (max-width: 416px){
         
        .misterius{
            width: 75%;
        }

}

@media screen and (max-width: 400px){
         
        .misterius{
            width: 77%;
        }

}
@media screen and (max-width: 390px){
         
        .misterius{
            width: 80%;
        }

}

@media screen and (max-width: 380px){
         
        .misterius{
            width: 85%;
        }

}
@media screen and (max-width: 363px){
         
        .misterius{
            width: 85%;
        }

}

@media screen and (max-width: 363px){
         
        .misterius{
            width: 87%;
        }

}

@media screen and (max-width: 350px){
        .misterius{
            width: 90%;
        }
            .heroFormWrapper h2{
            font-size: 1.29rem;
        }

}

@media screen and (max-width: 330px){
            .heroFormWrapper h2{
            font-size: 1.08rem;
        }
        .misterius{
            width: 80%;
        }
}
@media screen and (max-width: 320px){
            .heroFormWrapper h2{
            font-size: 1.04rem;
        }

}
@media screen and (max-width: 304px){
            .heroFormWrapper h2{
            font-size: 1rem;
        }

}


@media screen and (max-width: 292px){
            .heroFormWrapper h2{
            font-size: 0.85rem;
        }

}
@media screen and (max-width: 282px){
            .heroFormWrapper h2{
            font-size: 0.85rem;
        }
                .circle{
            display: none;
        }

}
@media screen and (max-width: 262px){
            .heroFormWrapper h2{
            font-size: 0.85rem;
        }

}
@media screen and (max-width: 242px){
            .heroFormWrapper h2{
            font-size: 0.8rem;
        }

}