.heroWrapper{
	min-height: 78.4vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
    padding: 0 15%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -0.4vh;
}


.heroFormWrapper{
	border-radius: 2vh;
	padding: 1vh 3vh;
	width: 40vh;
	height: 20vh;
	display: flex;
	flex-direction: column;
    margin-bottom: -1.5rem;
    background-color: rgba(7, 6, 6, 0.3);  
    margin-top: 3vh;
    
}

.heroFormWrapper h2{
    font-size: 3.4vh;
    font-weight: 700;
    color: #fff;
    padding-left: 1vh;
    margin-bottom: 1vh;
    text-shadow: 2px 2px 6px rgb(8, 8, 8);
}
.heroFormWrapper input{
	height: 6vh;
    border-radius: 0.5vh;
    background-color: #e3e3e3;
    font-style: italic;
    padding-left: 1vh;
    border: none;
    margin-bottom: 1vh;
    font-size: 2vh;

}
.heroFormWrapper button{
	width: 15vh;
	text-align: center;
    height: 9vh;
    background-color: #3a3773;
    font-weight: 700;
    color: #fff;
    border-radius: 0.5vh;
    border: none;
    font-size: 2.5vh;
}

.arrow{
    display: flex;
    justify-content: center;
    margin: 0 -2rem;
}
.arrow img{
    width: 3rem;
    margin: -5rem -2rem;
    padding-bottom: 1.3rem;
    padding-right: 0;
    color: blue;


}

.circleWrap{
	display: flex;
	justify-content: flex-end;
    padding: 0 9vh;
    color: #3a3773;
    margin-top: -1vh;
    color: #fff;
}

.circle{
	width: 7.5vh;
	height: 7.5vh;
	background-color: #3a3773;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    color: #fff;
    font-size: 2vh;
}


/* estylos para offer*/
.heroOfferWrapper{
    width: 52vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroOfferWrapper img{
    height: 35vh;
    width: 35vh;
    border-radius: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    margin-right: 0;
    background-color: #fff;
    color: #3a3773;
}




@media screen and (max-width: 768px){

        .heroWrapper{
            align-items: center;
            width: 100%;
            padding: 0;
        }
        
        .heroOfferWrapper{
            margin: 0;
            padding: 0;
        }
}